/***
    The new CSS reset - version 1.6.1 (last updated 25.5.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: normal;
  src: local("SegoeUI"), url("../../fonts/SegoeUI.woff2") format("woff2");
  src: local("SegoeUI"), url("../../fonts/SegoeUI.woff") format("woff");
}
@font-face {
  font-family: "SegoeUI-Italic";
  font-style: normal;
  font-weight: normal;
  src: local("SegoeUI-Italic"), url("../../fonts/SegoeUI-Italic.woff2") format("woff2");
  src: local("SegoeUI-Italic"), url("../../fonts/SegoeUI-Italic.woff") format("woff");
}
@font-face {
  font-family: "SegoeUI-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SegoeUI-Bold"), url("../../fonts/SegoeUI-Bold.woff2") format("woff2");
  src: local("SegoeUI-Bold"), url("../../fonts/SegoeUI-Bold.woff") format("woff");
}
@font-face {
  font-family: "SegoeUI-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("SegoeUI-SemiBold"), url("../../fonts/SegoeUI-SemiBold.woff2") format("woff2");
  src: local("SegoeUI-SemiBold"), url("../../fonts/SegoeUI-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Bitter-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bitter-Bold"), url("../fonts/Bitter-Bold.woff2") format("woff2");
  src: local("Bitter-Bold"), url("../fonts/Bitter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Bitter-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bitter-Regular"), url("../fonts/Bitter-Regular.woff2") format("woff2");
  src: local("Bitter-Regular"), url("../fonts/Bitter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: normal;
  src: local("Consolas"), url("../../fonts/Consolas.woff2") format("woff2");
  src: local("Consolas"), url("../../fonts/Consolas.woff") format("woff");
}
@font-face {
  font-family: "icons-it";
  src: url("../fonts/icon-it/icons-it.eot?2w3ay4");
  src: url("../fonts/icon-it/icons-it.eot?2w3ay4#iefix") format("embedded-opentype"), url("../fonts/icon-it/icons-it.ttf?2w3ay4") format("truetype"), url("../fonts/icon-it/icons-it.woff?2w3ay4") format("woff"), url("../fonts/icon-it/icons-it.svg?2w3ay4#icons-it") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons-it" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
  content: "\e90a";
}

._icon-ln:before {
  content: "\e90b";
}

._icon-twitter:before {
  content: "\e90c";
}

._icon-arrow-down:before {
  content: "\e900";
}

._icon-arrow-left:before {
  content: "\e901";
}

._icon-arrow-next:before {
  content: "\e902";
}

._icon-arrow-right:before {
  content: "\e903";
}

._icon-calendar:before {
  content: "\e904";
}

._icon-call:before {
  content: "\e905";
}

._icon-eye:before {
  content: "\e906";
}

._icon-home:before {
  content: "\e907";
}

._icon-mail:before {
  content: "\e908";
}

._icon-user:before {
  content: "\e909";
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "SegoeUI";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #23262D;
  position: relative;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main__title {
  font-family: "Bitter-Bold";
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.title {
  font-family: "Bitter-Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.blog__card-title {
  font-family: "SegoeUI-Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.title_h4 {
  font-family: "SegoeUI-Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.blog__card-title:hover {
  color: #E36F59;
  text-decoration: underline;
}

.btn-red {
  cursor: pointer;
  padding: 20px 35px;
  border-radius: 8px;
  background-color: #E36F59;
  color: #fff;
}

.btn-red:hover,
.btn-outline:hover {
  -webkit-box-shadow: 0px 14px 14px 0px rgba(190, 39, 39, 0.1411764706);
          box-shadow: 0px 14px 14px 0px rgba(190, 39, 39, 0.1411764706);
}

.btn-red:active,
.btn-outline:active {
  background-color: #C7523C;
}

.btn-outline {
  cursor: pointer;
  padding: 20px 35px;
  border-radius: 8px;
  background-color: #fff;
  color: #E36F59;
  border: 2px solid #E36F59;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.overlay {
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.overlay-active {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #23262D;
  opacity: 0.5;
}

.header {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  z-index: 999;
}

.header__active {
  background: #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px auto;
}

.header__logo {
  width: 40%;
}

.header__nav {
  width: 50%;
}

.header__lang {
  width: 10%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link:hover, .header__link:focus, .header__link:active {
  color: #E36F59;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn__lang {
  text-transform: uppercase;
  border: 1px solid #E2E7EB;
  padding: 5px 9px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.btn__lang:active, .btn__lang:focus, .btn__lang:hover {
  background-color: #E36F59;
  color: #fff;
}

.btn__lang-eng {
  border-radius: 0 6px 6px 0;
}

.btn__lang-ukr {
  border-radius: 6px 0px 0px 6px;
}

.header__bottom-mobile {
  display: none;
}

.header__burger {
  padding: 8px 6px;
  width: 34px;
  height: 34px;
  position: relative;
  background: #E36F59;
  border-radius: 4px;
  display: none;
}

.burger__line {
  display: block;
  width: 70%;
  position: absolute;
  height: 2px;
  background: #fff;
  left: 5px;
}

.burger__line_first {
  top: 8px;
}

.burger__line_sec {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 8px;
}

@media screen and (max-width: 1156px) {
  .header__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    width: 20%;
  }

  .header__nav {
    width: 70%;
  }
}
@media screen and (max-width: 820px) {
  .header__logo {
    width: 10%;
  }
}
@media screen and (max-width: 767.98px) {
  .header__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px;
    z-index: 11;
  }

  .header__logo {
    width: auto;
    max-width: 72px;
    z-index: 11;
  }

  .header__bottom-mobile {
    display: block;
  }

  .header__burger {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__list {
    padding-bottom: 30px;
    border-bottom: 1px solid #E2E7EB;
  }

  .header__bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 15px;
  }
  .header__bottom-list .soial__media-item .soial__media-item-link {
    text-transform: uppercase;
    -webkit-transition: 0.5 all ease;
    transition: 0.5 all ease;
  }

  .soial__media-item-link:hover {
    color: #E36F59;
  }

  .header__nav-close {
    padding: 8px 6px;
    width: 34px;
    height: 34px;
    background-color: #E36F59;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 11;
    border-radius: 4px;
  }

  .header__nav-close-line {
    display: block;
    width: 70%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 5px;
  }

  .header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }

  .header__nav {
    height: 380px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    padding: 95px 0 30px 0;
    z-index: 10;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    border-radius: 0px 0px 10px 10px;
  }

  .header__nav-active::before {
    position: absolute;
    content: "";
    background-color: #E2E7EB;
    margin: 0 15px;
    width: 95%;
    height: 1px;
    top: 65px;
    left: 0;
  }

  .header__nav-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    /*  margin-bottom: 15px; */
    padding: 7.5px 15px;
    -webkit-transition: 0.5 all;
    transition: 0.5 all;
  }

  .header__item:hover,
.header__item:focus,
.header__item:active {
    background-color: #E36F59;
    color: #fff;
  }

  /* .header__item:last-child {
      margin-bottom: 0;
  } */
  .header__lang {
    width: auto;
  }

  .btn__lang {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    z-index: 11;
  }
}
.intro {
  padding-top: 100px;
  position: relative;
  margin-bottom: 123px;
}
.intro .wrapper__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.intro .wrapper__intro .intro__content {
  width: 50%;
  z-index: 10;
}
.intro .wrapper__intro .intro__image {
  z-index: 10;
  width: 50%;
}
.intro .wrapper__intro .intro__image .intro__button {
  display: none;
}

.backgroud-intro {
  width: 30%;
}
.backgroud-intro img {
  position: absolute;
  top: -150px;
  left: -250px;
  z-index: 1;
}

.background__text {
  position: absolute;
  font-family: "Bitter-Bold";
  font-size: 100px;
  font-weight: 900;
  line-height: 156px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.6;
}

.background__text-intro {
  text-shadow: -1px 0 #E2E7EB, 0 1px #E2E7EB, 1px 0 #E2E7EB, 0 -1px #E2E7EB;
  color: #fff;
  z-index: 10;
}

.background__text-first {
  left: 22%;
  top: 55%;
}

.background__text-third {
  left: 85%;
  top: 9%;
}

.background__text-sec {
  display: none;
}

.intro__title {
  padding-top: 125px;
  margin-bottom: 20px;
  z-index: 8;
}
.intro__title span {
  color: #E36F59;
}

.intro__desc {
  margin-bottom: 60px;
  width: 65%;
  z-index: 8;
}

.intro__button {
  margin-bottom: 90px;
}
.intro__button span {
  font-size: 11px;
  margin-left: 5px;
}

.articles {
  padding-bottom: 60px;
  position: relative;
  overflow: hidden;
}
.articles .background_articles img {
  position: absolute;
  top: 0;
  right: -5%;
}

.title__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.rectangle {
  position: relative;
}
.rectangle::before {
  content: "";
  position: absolute;
  border-radius: 4px;
  z-index: -1;
  height: 16px;
  width: 100%;
  background-color: #E36F59;
  opacity: 50%;
  bottom: 10%;
}

.rectangle-left::before {
  left: -10%;
}

.btn-articles {
  padding: 15px 30px;
}

.slider__articles {
  height: 556px;
}

.slider__wrapper {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transition;
}

.blog__card-wrapper {
  -webkit-box-shadow: 0px 3px 23px 0px rgba(0, 0, 0, 0.0705882353);
          box-shadow: 0px 3px 23px 0px rgba(0, 0, 0, 0.0705882353);
  border-radius: 8px;
}

.courses {
  padding-bottom: 130px;
  padding-top: 140px;
  position: relative;
}
.courses .background_courses .background_courses-left {
  position: absolute;
  top: -10%;
  left: -10%;
}
.courses .background_courses .background_courses-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.title_courses {
  z-index: 10;
}

.slider__courses {
  height: 370px;
}

.courses_item {
  position: relative;
}

.courses_item-wrapper {
  border-radius: 8px;
  padding: 30px 25px 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courses_item-first {
  background-color: #CCC1F6;
}

.color-first {
  color: #CCC1F6;
}

.courses_item-sec {
  background-color: #E7EEF3;
}

.color-sec {
  color: #E7EEF3;
}

.courses_item-third {
  background-color: #FFD4BC;
}

.color-third {
  color: #FFD4BC;
}

.courses_item-title {
  margin-bottom: 20px;
}

.courses_item-desc {
  margin-bottom: 10px;
}

.courses_item-more {
  cursor: pointer;
  font-family: "Bitter-Regular";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.courses_item-more:hover,
.courses_item-more:active,
.courses_item-more:focus {
  text-decoration: underline;
}

.courses_item-text {
  right: 20px;
  top: -20px;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.blog__card-pic {
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px 8px 0 0;
}

.slider__article-img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__card-short-info {
  padding: 15px 15px 18px 15px;
  background-color: #fff;
}

.blog__card-tags {
  margin-bottom: 15px;
}

.article-tag {
  padding: 5px 10px;
  border-radius: 2px;
}

.article-tag__green {
  background-color: #92E3A9;
}

.article-tag__blue-light {
  background-color: #BEC5FF;
}

.article-tag__powder {
  background-color: #FFD4BC;
}

.blog__card-short-desc {
  margin-bottom: 22px;
}

.blog__card-content {
  position: relative;
  margin-bottom: 38px;
}

.blog__card-content::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 95%;
  background-color: #E2E7EB;
  bottom: -22px;
  left: 0;
  text-align: center;
}

.blog__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._icon-calendar,
._icon-eye {
  color: #E2E7EB;
  margin-right: 10px;
}

.slider__slider {
  position: relative;
}
.slider__slider .swiper-pagination .swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  background-color: #E36F59;
}
.slider__slider .swiper-pagination .swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  border: 1px solid #E36F59;
  background-color: transparent;
  position: relative;
  top: 4px;
}
.slider__slider .swiper-pagination .swiper-pagination-bullet-active::after {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #E36F59;
  position: absolute;
  top: 20%;
  left: 20%;
}
.slider__slider .button-prev,
.slider__slider .button-next {
  position: absolute;
  bottom: 25px;
  color: #23262D;
  z-index: 10;
  cursor: pointer;
  width: 40px;
  height: 12px;
}
.slider__slider .button-prev {
  right: 26px;
}
.slider__slider .button-prev:hover,
.slider__slider .button-prev:focus,
.slider__slider .button-next:hover,
.slider__slider .button-next:focus {
  color: #E36F59;
}
.slider__slider .button-prev:hover::after,
.slider__slider .button-next:hover::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #E36F59;
  bottom: -22.5px;
}
.slider__slider .button-prev:hover::after {
  right: -25px;
}
.slider__slider .button-next {
  left: 23px;
}
.slider__slider .button-next:hover::after {
  right: 8px;
}

.advantages {
  margin-bottom: 30px;
}

.title_advantage {
  text-align: center;
  margin-bottom: 100px;
}

.advantages_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advanteges__item-image {
  margin-bottom: 40px;
  height: 250px;
}
.advanteges__item-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__item-desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.advantages_item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter {
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
}
.newsletter .background_newsletter .background_newsletter-left {
  position: absolute;
  top: 0;
  left: -10%;
  z-index: -5;
}
.newsletter .background_newsletter .background_newsletter-right {
  position: absolute;
  bottom: -30%;
  right: -5%;
  z-index: -5;
}

.newsletter_wrapper {
  -webkit-box-shadow: 0px 14px 34px 0px rgba(21, 33, 56, 0.1098039216);
          box-shadow: 0px 14px 34px 0px rgba(21, 33, 56, 0.1098039216);
  border-radius: 20px;
  background-color: #fff;
  padding: 60px 80px;
  z-index: 8;
}

.title_newsletter {
  margin-bottom: 10px;
  z-index: 10;
}

.newsletter_desc {
  margin-bottom: 50px;
}

.newsletter_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter_input {
  width: 35%;
  margin-right: 30px;
  position: relative;
}
.newsletter_input::before {
  font-family: "icons-it";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 35px;
  height: 20px;
}
.newsletter_input::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15%;
  width: 1px;
  background-color: #E2E7EB;
  height: 84%;
  margin: auto 0;
}
.newsletter_input .newletter_field {
  width: 100%;
  height: 60px;
  border: 1px solid #E2E7EB;
  border-radius: 5px;
  padding: 22px 0 22px 30px;
}

.newsletter_input-name::before {
  content: "\e909";
}

.newsletter_input-mail::before {
  content: "\e908";
}

.newsletter_btn {
  width: 20%;
  padding: 20px 60px;
  position: relative;
}
.newsletter_btn::after {
  content: "\e905";
  font-family: "icons-it";
  position: absolute;
  top: 33%;
  right: 30%;
}

.footer {
  background-color: #2D3034;
  color: #fff;
}
.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
}
.footer .footer__content .header__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__content .header__bottom-list .soial__media-item {
  margin-right: 40px;
}
.footer .footer__content .header__bottom-list .soial__media-item .soial__media-item-link {
  text-transform: uppercase;
  -webkit-transition: 0.5 all;
  transition: 0.5 all;
}
.footer .footer__content .header__bottom-list .soial__media-item .soial__media-item-link:hover {
  color: #E36F59;
}
.footer .footer__content .header__bottom-list .soial__media-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767.98px) {
  .footer .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__content .header__bottom-list {
    padding: 10px auto;
  }
}
@media screen and (min-width: 1700px) {
  .background__text-first {
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: 5%;
    top: 30%;
  }

  .background__text-third {
    left: 80%;
    top: 9%;
  }

  .background__text-sec {
    left: 40%;
    top: 55%;
  }
}
@media screen and (max-width: 1242px) {
  .backgroud-intro img {
    left: -350px;
  }

  .intro__desc {
    width: 85%;
  }

  .courses_item .background__text {
    font-size: 80px;
  }

  .newsletter .background_newsletter .background_newsletter-right {
    bottom: 0;
  }
}
@media screen and (max-width: 1156px) {
  .intro__title {
    padding-top: 100px;
  }

  .intro__title.main__title {
    font-size: 45px;
    line-height: 50px;
  }

  .courses .background_courses .background_courses-left {
    left: -5%;
    top: 0;
    width: 600px;
  }
  .courses .background_courses .background_courses-right {
    right: 0;
    bottom: 20%;
    width: 400px;
  }

  .newsletter_wrapper {
    padding: 100px;
  }

  .newsletter_input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .newsletter_btn {
    width: 100%;
  }
  .newsletter_btn::after {
    display: none;
  }
}
@media screen and (max-width: 1057px) {
  .background__text {
    font-size: 70px;
  }

  .intro__button {
    margin-bottom: 45px;
  }

  .intro__desc {
    width: 100%;
  }

  .courses_item .background__text {
    font-size: 70px;
  }
  .courses_item .courses_item-text {
    top: -40px;
  }
}
@media screen and (max-width: 991.98px) {
  .backgroud-intro img {
    left: -400px;
    top: -200px;
  }

  .title_newsletter {
    text-align: center;
  }

  .articles .background_articles img {
    right: -25%;
  }
}
@media screen and (max-width: 972px) {
  .backgroud-intro img {
    left: -500px;
  }

  .background__text {
    display: none;
  }

  .intro__button span {
    display: none;
  }

  .intro__title.main__title {
    padding-top: 50px;
    font-size: 40px;
  }

  .background__text-third {
    display: block;
    top: 60%;
    left: 40%;
  }

  .background__text-sec {
    display: block;
    top: 7%;
    left: 40%;
  }

  .btn-red {
    padding: 15px 30px;
  }

  .courses .background_courses .background_courses-left {
    left: -5%;
    top: 15%;
    width: 500px;
  }
}
@media screen and (max-width: 767.98px) {
  .title {
    font-family: Bitter;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
  }

  .backgroud-intro img {
    left: -400px;
    top: -150px;
  }

  .wrapper__intro .intro__content {
    width: 60%;
  }
  .wrapper__intro .intro__image {
    width: 40%;
  }

  .intro__title.main__title {
    padding-top: 0;
  }

  .intro__desc {
    margin-bottom: 50px;
  }

  .articles .background_articles img {
    right: -35%;
  }

  .courses .background_courses .background_courses-left {
    left: 0;
    top: 15%;
    width: 400px;
  }
  .courses .background_courses .background_courses-right {
    right: 0;
    bottom: 30%;
    width: 250px;
  }

  .advantages_wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .advantages_item {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }

  .advantages_item:last-child {
    margin-bottom: 0;
  }

  .advanteges__item-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .newsletter_wrapper {
    padding: 50px 100px;
  }

  .newsletter_input {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 680px) {
  .background__text-sec,
.background__text-third {
    display: none;
  }

  .intro__title.main__title {
    font-size: 35px;
    line-height: 40px;
  }

  .intro__desc {
    margin-bottom: 30px;
  }

  .articles .background_articles {
    display: none;
  }

  .newsletter_wrapper {
    padding: 50px;
  }
}
@media screen and (max-width: 479.98px) {
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  .backgroud-intro img {
    left: -150px;
    top: -50px;
  }

  .intro .wrapper__intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .wrapper__intro .intro__content {
    width: 100%;
  }
  .intro .wrapper__intro .intro__content .intro__button {
    display: none;
  }
  .intro .wrapper__intro .intro__image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .wrapper__intro .intro__image img {
    margin-bottom: 20px;
  }
  .intro .wrapper__intro .intro__image .intro__button {
    display: block;
    text-align: center;
  }

  .btn-articles {
    padding: 10px 15px;
  }

  .courses .background_courses .background_courses-left,
.courses .background_courses .background_courses-right {
    display: none;
  }

  .courses_item .background__text {
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0.1em;
    display: block;
  }
  .courses_item .courses_item-text {
    top: 5%;
    right: 2%;
  }

  .title_advantage {
    margin-bottom: 50px;
  }

  .rectangle::before {
    display: none;
  }

  .rectangle-xs {
    position: relative;
    display: inline;
  }

  .rectangle-xs::before {
    content: "";
    position: absolute;
    border-radius: 4px;
    z-index: -1;
    height: 8px;
    width: 100%;
    background-color: #E36F59;
    opacity: 50%;
    bottom: 10%;
  }

  .rectangle-left-xs::before {
    left: -10%;
  }

  .newsletter_wrapper {
    padding: 30px 20px 20px;
  }

  .newsletter_input::after {
    right: 20%;
  }
}