
@import "reset";
@import "font";
@import "font-style";

//variables start
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1230px;
$md1: $maxWidthContainer +12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
//vatiables colors
$Black: #23262D;
$txt: #606268;
$Gray1: #A7BBD1;
$Border: #E2E7EB;
$Red: #E36F59;
$redLight: #FBA594;
//variables end

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body{
    font-family: 'SegoeUI';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: $Black;
    position: relative;
}

ul {
    li {
        
        list-style-type: none;
    }
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;
}
.overlay {
    transition: .2s all linear;
}
.overlay-active {
 position: absolute;
 height: 100%;
 width: 100%;
 background-color: #23262D;
 opacity: 0.5;
 
}
//header 
@import "header";


