
@import "reset";
@import "font";
@import "font-style";

//variables start
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1230px;
$md1: $maxWidthContainer +12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
//vatiables colors
$Black: #23262D;
$txt: #606268;
$Gray1: #A7BBD1;
$Border: #E2E7EB;
$Red: #E36F59;
$redLight: #FBA594;
$White: #fff;
$Green_light:#92E3A9;
$Powder: #FFD4BC;
$Purple: #BEC5FF;
//variables end

html{
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body{
    height: 100%;
    font-family: 'SegoeUI';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: $Black;
    position: relative; 
}
.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

ul {
    li {
        
        list-style-type: none;
    }
}

img{
    max-width: 100%;
    height: auto;
}
.main__title {
    font-family: 'Bitter-Bold';
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
.title {
    font-family: 'Bitter-Bold';
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;

}
.blog__card-title {
    font-family: 'SegoeUI-Bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 15px;
    transition: 0.5s all;
    cursor: pointer;
}
.title_h3 {
    font-family: 'Bitter-Bold';
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
.title_h4 {
    font-family: "SegoeUI-Bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
.blog__card-title:hover {
    color: $Red;
    text-decoration: underline;
}
.btn-red {
    cursor: pointer;
    padding: 20px 35px;
    border-radius: 8px;
    background-color: $Red;
    color: $White;
}
.btn-red:hover, 
.btn-outline:hover {
    box-shadow: 0px 14px 14px 0px #BE272724;
}
.btn-red:active,
.btn-outline:active {
    background-color: #C7523C ;
}
.btn-outline {
    cursor: pointer;
    padding: 20px 35px;
    border-radius: 8px;
    background-color: $White;
    color: $Red;
    border: 2px solid $Red;
}
.wrapper{
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 15px;
}
.overlay {
    transition: .2s all linear;
}
.overlay-active {
 position: absolute;
 height: 100%;
 width: 100%;
 background-color: #23262D;
 opacity: 0.5;
 
}
//header 
@import "header";
main {
    flex: 1 1 auto;
}
// intro
.breadcrumbs {
    margin-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .home_item {
        &:before {
            content: "\e907";
            font-family: 'icons-it';
            color: $Red;
            margin-right: 10px;
        }
    }
        .breadcrumbs_item  {
            margin-top: 3px;
            &:before {
                content: "\e902";
                font-family: 'icons-it';
                color: $Black;
                font-size: 7px;
                margin: 0 10px;
            }
    }
    
}

.content-section {
    padding-top: 100px;
    position: relative;
}
.intro {
    margin-bottom: 123px;
    .wrapper__intro {
        display: flex;
        flex-wrap: wrap;
        .intro__content {
            width: 50%;
            z-index: 10;  
        }
        .intro__image {
            z-index: 10;
            width: 50%;
            .intro__button {
                display: none;
            }
            
        }
    }
}
.backgroud-intro {
   width: 30%;
  img {
    position: absolute;
    top: -150px;
    left: -250px;
    z-index: -1;
    
  }
}
.background__text {
    position: absolute;
    font-family: 'Bitter-Bold';
    font-size: 100px;
    font-weight: 900;
    line-height: 156px;
    text-transform: uppercase;
    color: $White;
    opacity: 0.6;
   
}
.background__text-intro {
    text-shadow: -1px 0 $Border, 0 1px $Border, 1px 0 $Border, 0 -1px $Border;
    color: $White;
    z-index: 10;
   
}
.background__text-first {
    left: 22%;
    top: 55%;
}
.background__text-third {
    left: 85%;
    top: 9%;
}
.background__text-sec {
    display: none;
}
.intro__title {
    padding-top: 125px;
    margin-bottom: 20px;
    z-index: 8;
    span {
        color: $Red;
    }
}
.intro__desc {
    margin-bottom: 60px;
    width: 65%;
    z-index: 8;
}
.intro__button {
    margin-bottom: 90px;
    span {
        font-size: 11px;
        margin-left: 5px;
    }
}
//article-slider
.articles {
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    .background_articles {
        img {
            position: absolute;
            top: 0;
            right: -5%;
            
        }
    }
    
}
.title__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.rectangle {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        border-radius: 4px;
        z-index: -1;
        height: 16px;
        width: 100%;
        background-color: $Red;
        opacity: 50%; 
        bottom: 10%;
        z-index: 10;
    }
}

.rectangle-left {
    &::before {
        left: -10%;
    }
}
.btn-articles {
    padding: 15px 30px;
}
.slider__articles {
    height: 556px;
}
.slider__wrapper {
    transition: transform 0.5s;
    will-change: transition;
}
.blog__card-wrapper {
    
    box-shadow: 0px 3px 23px 0px #00000012;
    border-radius: 8px;
    
}
//slider__courses
.courses {
    padding-bottom: 130px;
    padding-top: 140px;
    position: relative;
    
   
    .background_courses {
        .background_courses-left {
            position: absolute;
            top: -10%;
            left: -10%;
        }
        .background_courses-right {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
.title_courses {
    z-index: 10;
}
.slider__courses {
    height: 370px;
}
.courses_item {
    position: relative;
}
.courses_item-wrapper {
    border-radius: 8px;
    padding: 30px 25px 25px 20px;
    display: flex;
    flex-direction: column;
}
.courses_item-first {
    background-color: #CCC1F6;
}
.color-first {
 color: #CCC1F6;
}
.courses_item-sec {
    background-color: #E7EEF3;
}
.color-sec {
    color: #E7EEF3;
}
.courses_item-third {
    background-color: $Powder;
}
.color-third {
    color:$Powder;
}
.courses_item-title {
    margin-bottom: 20px;
}
.courses_item-desc {
    margin-bottom: 10px;
}
.courses_item-more {
    cursor: pointer;
    font-family: 'Bitter-Regular';
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    align-self: flex-end;
}
.courses_item-more:hover,
.courses_item-more:active,
.courses_item-more:focus {
    text-decoration: underline;
}

.courses_item-text {
    right: 20px;
    top: -20px;
    text-shadow: -1px 0 $White, 0 1px $White, 1px 0 $White, 0 -1px $White;
    
}

@import "blog_item";

//slider navigation
@import "slider_navigation";

//section advantages
.advantages {
    margin-bottom: 30px;
}
.title_advantage {
    text-align: center;
    margin-bottom: 100px;
}
.advantages_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 30%;
    justify-content: space-between;
    align-items:flex-start;
}
.advanteges__item-image {
    margin-bottom: 40px;
    height: 250px;
    img {
        height: 100%;
        object-fit: cover;
    }
}
.advantages__item-desc {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; 
    text-align: center;
}
 .advantages_item {
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
//newsletter
.newsletter {
    padding-top: 160px;
   padding-bottom: 160px;
    position: relative;
    overflow: hidden;
    .background_newsletter {
        .background_newsletter-left {
            position: absolute;
            top: 0;
            left: -10%;
            z-index: -5;

        }
        .background_newsletter-right {
            position: absolute;
            bottom: -30%;
            right: -5%; 
            z-index: -5;

        }
    }
}
.newsletter_wrapper {
    box-shadow: 0px 14px 34px 0px #1521381C;
    border-radius: 20px;
    background-color: $White;
    padding: 60px 80px;
    z-index: 8;
}
.title_newsletter {
    margin-bottom: 10px;
    z-index: 10;
}
.newsletter_desc {
    margin-bottom: 50px;
   
}
.newsletter_form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.newsletter_input {
    width: 35%;
    margin-right: 30px;
    position: relative;
    &::before {
        font-family: 'icons-it';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        width: 35px;
        height: 20px;
    }
    &::after {
        content:" ";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15%;
        width: 1px;
        background-color: $Border;
        height: 84%;
        margin: auto 0;
    }
   
    
    .newletter_field {
        width: 100%;
        height: 60px;
        border: 1px solid $Border;
        border-radius: 5px;
        padding: 22px 0 22px 30px;
        
    }
}
.newsletter_input-name {
    &::before {
        content: "\e909";
        
    }
}
.newsletter_input-mail {
    &::before {
        content: "\e908";
        
    }
} 

.newsletter_btn {
    width: 20%;
    padding: 20px 60px;
    position: relative;
    text-align: center;
    &::after {
        content: "\e905";
        font-family: 'icons-it';
        position: absolute;
        top:33%;
        right:30%;
    }
}
//blog
@import "blog";
//blog-article
@import "blog-article";
//footer
@import "footer";

//media
@import "media";

